:root {
    --bg-color: #f0f0f0; /* Definindo a cor do fundo */
    --green-light: #6fbb60;
    --mid-color: #3c6e47;
    --dark-green: #2c4f2d;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20px 20px 20px 100px 40px;
    margin: 0 auto;
    grid-gap: 20px;
    padding: 20px;
    background-color: #ffffff; /* Fundo sem transparência */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos para os campos de entrada */
#nome, #email, #assunto {
    width: 100%; /* Faz os campos de entrada ocuparem toda a largura */
}

/* Estilos para a textarea */
#mensagem {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    resize: vertical; /* Permite redimensionar verticalmente */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo do botão de envio */
#btn-submit {
    background-color: var(--green-light);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-submit:hover {
    background-color: var(--dark-green);
}

/* Estilos para o header */
header #logo-header {
    width: 25%; /* Ajusta o tamanho do logo */
}

header nav {
    background-color: var(--mid-color);
}

.navbar-nav .nav-item {
    margin-right: 6rem; /* Ajuste no espaçamento entre os itens */
}

.navbar-nav .nav-link {
    white-space: nowrap; /* Evita quebra de linha */
}

/* Estilo para o link do menu */
.efeitolink {
    color: var(--green-light) !important;
    font-weight: 400;
    border-bottom: 3px solid transparent var(--green-light);
}

.efeitolink:hover, .efeitolink.a {
    border-bottom: 3px solid var(--green-light);
    transition: all 0.1s ease;
}

/* Estilos para o rodapé */
.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Alinha o conteúdo verticalmente */
    background-color: var(--mid-color);
    padding: 5px 0; /* Menor padding */
    min-height: 10px; /* Garantir altura mínima */
    margin-bottom: 0;
    height: 240px;
}

.rodape a {
    color: var(--green-light);
    transition: all 0.5s ease;
}

.rodape a:hover {
    color: var(--dark-green);
}

.rodape h4 {
    color: var(--bg-color);
}

.rodape img {
    margin-right: 10px;
    width: 20px;
}

.c-left, .c-right {
    margin-top: 0; /* Remover margens extras */
}

/* Estilos para os campos do formulário */
.gridcontainer label {
    font-weight: bold;
}

.gridcontainer input[type="text"], 
.gridcontainer input[type="email"], 
.gridcontainer textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
