body {
    color: black;
    background-color: rgb(250, 250, 250);
}
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 125fr;
    grid-template-rows: 20px 20px 20px 100px 40;
    max-width: 600px;
    margin: 0 auto;
    grid-gap: 10px;
}
#nome {
    width: 200px;
}
#email {
    width: 200px;
}
#assunto {
    width: 200px;
}
#mensagem{
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    resize: vertical; /* Permite o redimensionamento vertical */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

#submit{
 align-content: center;
}